.UserOptionsButton {
  position: relative;
  padding: 0;
  outline: none;
  margin-left: 56px;
  display: flex;

  @media (max-width: 1500px) {
    margin-left: 40px;
  }
  @media (max-width: 1300px) {
    margin-left: 25px;
  }
  @media (max-width: 1180px) {
    margin-left: 18px;
  }

  span {
    display: block;
  }
}
