.UserOptionsButton {
  position: relative;
  padding: 0;
  margin-left: 56px;
  display: flex;

  @media (max-width: 1500px) {
    margin-left: 40px;
  }

  span {
    display: block;
  }
}
