@import 'variables';

.sign-in-button {
  margin-right: 16px;

  a {
    outline: none;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: max-content;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #0052FF;
    background-color: #fff;
    height: 36px;
    padding: 0 16px;

    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: $blue;
    transition: all 0.7s;

    &:hover {
      color: #fff;
      background-color: #0052FF;
    }

    @media (max-width: 1180px) {
      font-size: 16px;
    }
    @media (max-width: 1100px) {
      padding: 0 12px;
    }
  }

  @media (max-width: 1300px) {
    margin-right: 12px;
  }
}

.input-box {
  width: 100%;
}


.irIjKF {
  @media (max-width: 960px) {
    width: 100% !important;
  }
}

.nav-list-item-btn {
  outline: none;

  .btn-primary-blue {
    min-width: max-content;
    text-align: center;

    color: $white;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.01em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    padding: 0 16px;
    background-color: #0052FF;
    border-radius: 4px;
    border: 1px solid $blue;
    cursor: pointer;
    transition: all 0.7s;

    &:hover {
      background: $white;
      color: $blue;
    }

    @media (max-width: 1180px) {
      font-size: 16px;
    }
    @media (max-width: 1100px) {
      padding: 0 12px;
    }
  }

  @media (max-width: 992px) {
    display: none;
  }

}

.header-logo-mobile {
  display: none;

  @media (max-width: 992px) {
    display: block;
    width: 100%;
  }

  a {
    @media (max-width: 992px) {
      display: block;
    }

  }
}

.header-logo-pc {
  position: relative;
  top: 3px;
  @media (max-width: 992px) {
    display: none;
  }
}

.logo-text {
  color: white;
  font-weight: bold;
  font-size: 20px;
  height: 23px;
  width: 50px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: #000000;
    text-decoration: none;
    width: 50px;
  }

  &:active {
    color: #000000;
    text-decoration: none;
    width: 50px;
  }

  &:link {
    color: #000000;
    text-decoration: none;
    width: 50px;
  }

  &:visited {
    width: 50px;
    color: #000000;
    text-decoration: none;
  }
}

.logo {
  min-width: 95px;
  height: 21px;
  background-image: url(../img/logo-white.svg);
  background-position: center;
  background-size: contain;
  display: inline-block;

  @media (max-width: 768px) {
    background-image: url(../img/logo-mobile.svg);
    background-repeat: no-repeat;
    min-width: 26px;
    max-width: 26px;
    height: 28px;
  }
}

.header {
  padding: 20px 0;
  transition: 0.7s;
  color: #000000;
  border-bottom: 1px solid #E4E4E4;

  a,
  button {
    transition: 0.7s;
  }

  .container-parent {
    @media (max-width: 992px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  @media (max-width: 992px) {
    padding: 2px 0;
    border: none;
  }
}

.account {
  &-settings {
    padding: 40px 20px 15px;
    background-color: white;
    display: none;
    position: absolute;
    right: 0;
    z-index: 11;
    width: 300px;

    @media (max-width: 992px) {
      width: 100%;
      padding: 0;
      background-color: transparent;
      position: static;
      display: block;
    }

    * {
      font-size: 14px;
    }

    &-select {
      position: relative;

      &:hover {
        .account-settings {
          display: flex;
          flex-direction: column;

          @media (max-width: 992px) {
            position: static;
          }
        }
      }

      @media (max-width: 992px) {
        > a {
          display: none;
        }
      }
    }

    &-id {
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      padding-top: 20px;
      margin-left: 0;
      @media (max-width: 992px) {
        margin-left: 20px;
      }
    }

    &-avatar {
      background-color: $blue-color;
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-right: 15px;
      cursor: default;
      user-select: none;
    }

    &-name {
      display: flex;
      flex-direction: column;

      &-id {
        color: $lightgrey-color;
        margin-top: 5px;
        cursor: pointer;

        &-number {
          color: $lightgrey-color;
        }

        &::after {
          content: '';
          background-image: url(../img/icons/copy.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          width: 12px;
          height: 12px;
          display: inline-block;
          margin-left: 10px;
          vertical-align: middle;
        }
      }
    }

    &-list {
      list-style: none;
      display: block;
      flex-direction: column;
      gap: 25px;
      padding-left: 0;

      @media (max-width: 992px) {
        padding: 25px 0 0 20px;
        margin: 0;
      }

      &:nth-child(2) {
        border-top: 1px solid #EDEDED;
      }

      a {
        display: flex;
        align-items: center;
        gap: 18px;
        text-decoration: none;

        &:hover {
          color: $blue-color;
        }
      }

      @media (max-width: 992px) {
        display: flex;
        &:first-of-type {

          .account-settings-dropdown {
            display: flex;
            align-items: center;

            &.is-open {
              &:after {
                transform: rotate(90deg);
              }

              ~ li {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

.profile-parent-header-mobile {
  display: none;
  @media (max-width: 992px) {
    display: block;
    margin-top: 25px;
    padding-bottom: 26px;
    border-bottom: 1px solid #EDEDED;
    width: 100%;
    span {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      margin-left: 20px;
      color: #0052FF;
    }
  }
}

.lang-is-open {
  @media (max-width: 992px) {
    opacity: 1 !important;
    visibility: visible !important;
  }
}

.currency-is-open {
  @media (max-width: 992px) {
    opacity: 1 !important;
    visibility: visible !important;
  }
}

.nav {
  display: flex;
  align-items: center;

  &-list {
    &-language {
      @media (max-width: 992px) {
        width: 90%;
        position: relative;
        margin-bottom: 7px;
      }

      &-btn {
        a {
          color: white !important;

          &:hover {
            color: #0080FF;
          }
        }
      }
    }

    @media (max-width: 992px) {
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
      position: relative;
    }

    .nav-list-padding {
      display: flex;
      align-items: center;
      list-style: none;

      li + li {
        margin-left: 56px;
        @media (max-width: 1500px) {
          margin-left: 40px;
        }
        @media (max-width: 1300px) {
          margin-left: 25px;
        }
        @media (max-width: 1180px) {
          margin-left: 18px;
        }
        @media (max-width: 1080px) {
          margin-left: 14px;
        }
      }

      @media (max-width: 992px) {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        position: relative;
        padding: 0 20px 20px;
      }
    }

    a {
      font-weight: 400;
      font-size: 16px;
      text-decoration: none;
      color: black;
      white-space: nowrap;

      &:hover {
        color: #0052FF;
      }

      @media (max-width: 1100px) {
        font-size: 15px;
      }
      @media (max-width: 1100px) {
        font-size: 14px;
        line-height: 18px;
      }
    }

    .btn-blue-fill {
      &:hover {
        background-color: white;
        color: #0080FF !important;
      }

      @media (max-width: 992px) {
        a {
          width: 50px;
        }

      }
    }

    &-links {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  @media (max-width: 992px) {
    position: relative;
    max-width: 100%;
  }
}

.nav-list-right {
  display: flex;
  align-items: center;
  height: 47px;

  .nav-list-padding {
    display: flex;
    align-items: center;
  }

  @media (max-width: 992px) {
    height: 42px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
    padding-top: 4px;
  }
}

.slideout-close {
  display: none;
}

.nav-list {
  display: flex;
  align-items: center;
  @media (max-width: 992px) {
    align-items: flex-start;
  }

  .nav-list-padding {
    @media (max-width: 992px) {
      width: 100%;
    }
    .nav-list-item {
      @media (max-width: 992px) {
        width: 100%;
        a {
          width: 100%;
          height: 48px;
          display: flex;
          align-items: center;
          padding: 0 20px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .slideout-menu {
    background: #FFFFFF;
    box-shadow: -3px 3px 5px rgba(51, 57, 70, 0.04);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50vw;
    margin-left: auto;
    right: 0;
    transform: translateX(200%);
    transition: 0.3s;
    height: 150vh;
    z-index: 40;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;

    .sign-in-button {
      margin-right: 0;

      a {
        height: auto;
        border: none;
        padding: 0;

        &:hover {
          background-color: transparent;
          color: #0052FF;
        }
      }
    }

    .nav-list {
      border-top: 1px solid #EDEDED;

      .nav-list-padding {
        padding: 15px 0;

        li {
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;

          + li {
            margin-left: 0;
          }
        }

        .nav-list-item {
          a {
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
    }

    .nav-list-right {
      .sign-in-button {
        height: auto;
        padding-left: 0;
      }

      .nav-list-item-btn {
        display: none !important;
      }
    }


    @media (max-width: 580px) {
      width: 80vw;
    }
  }

  .slideout-menu.is-open {
    transform: translateX(0);
    transition: 0.1s;
  }

  .slideout-close {
    width: 24px;
    height: 24px;
    position: fixed;
    top: 11px;
    right: 20px;
    transition: all 0.17s !important;
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: 0;
    visibility: hidden;
    background-repeat: no-repeat;
    z-index: 50;
    background-image: url(../img/icons/burger-close.svg);
  }

  .header-open .slideout-close {
    opacity: 1;
    visibility: visible;
  }

  .slideout-toggle {
    transition: all 0.17s !important;
    display: block;
    opacity: 1;
    visibility: visible;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    min-width: 24px;
    background-image: url(../img/icons/burger.svg);

    span {
      display: none;
    }
  }
}

.nav {
  width: 100%;
}

.main-layout {
  &::before {
    position: fixed;
    top: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
    width: 100%;
    height: 200vh;
    z-index: 20;
    content: "";
    transition: all 0.3s;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.header-open {
  .slideout-toggle {
    opacity: 0;
    visibility: hidden;
  }

  .main-layout {
    &::before {
      opacity: 1;
      visibility: visible;
    }
  }
}

.account-info {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  display: none;

  @media (max-width: 992px) {
    display: block;
  }

  span {
    color: #0242C1 !important;
  }

  img {
    margin-left: 20%;
  }
}

.not-none {
  display: none;
  @media (max-width: 992px) {
    display: block !important;
  }
}

.account-settings-hidden-block {
  margin-top: 20px;
  @media (max-width: 992px) {
    margin-top: 0;
  }
}

.account-svg {
  position: relative;
  top: 4px;
  cursor: pointer;

  img {
    filter: invert(1);
  }
}

.account-menu {
  position: absolute;
  width: 300px;
  background-color: white;
  height: 300px;
  right: 1px;
  z-index: 11;
}

.account-setting-logout {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #EDEEDD;
  @media (max-width: 992px) {
    display: none;
  }
}

.display-control-mobile {
  margin-left: 56px;
  height: 36px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    .website-settings-choice {
      opacity: 1;
      visibility: visible;
    }
  }

  .UserOptionsButton {
    display: flex;
  }

  .website-language,
  .website-currency,
  .website-slash {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
  }

  .website-language {
    margin-right: 3px;
  }

  .website-currency {
    margin-left: 3px;
    color: #9EA7B7;
  }

  .website-slash {
    color: #ACADAF;
  }

  .website-settings-choice {
    cursor: default;
    background-color: #FFFFFF;
    z-index: 20;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 40px;
    box-shadow: 0 20px 40px rgb(0 0 0 / 50%);
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 30px;
    transition: all 0.3s;
  }

  .website-settings-close {
    display: none;
    visibility: hidden;
  }

  .website-settings-heading {
    display: block;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
  }

  .website-settings-list {
    li {
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }

  @media (max-width: 1500px) {
    margin-left: 40px;
  }
  @media (max-width: 1300px) {
    margin-left: 25px;
  }
  @media (max-width: 1180px) {
    margin-left: 18px;
  }
  @media (max-width: 992px) {
    display: none;
  }
}

.display-control-options {
  //height: 63px;
  padding-left: 20px;
  position: relative;
  border-top: 1px solid #EDEDED;
  padding-top: 30px;
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .website-settings-list {
    li {
      padding-left: 20px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }

      label {
        span {
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  .website-settings-choice {
    display: none;
    position: relative;

    &.lang-is-open,
    &.currency-is-open {
      background: #FFFFFF;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
      display: block;
      margin-left: -40px;
      margin-top: 20px;
      //position: absolute;
      padding: 54px 20px 25px;
      max-width: 340px;
      width: 100%;
      //top: 80px;
      //left: -5%;
      z-index: 30;

      .website-settings-col {
        border: none;
      }
    }

    &.lang-is-open {
      .website-settings-col:last-of-type {
        display: none;
      }
    }

    &.currency-is-open {
      .website-settings-col:first-of-type {
        display: none;
      }
    }

    &.lang-is-open.currency-is-open {
      .website-settings-col:last-of-type {
        display: block;
      }
    }
  }

  .website-settings-select {
    .UserOptionsButton {
      display: flex;
    }

    .website-language {
      font-weight: 500;
      margin-right: 3px;
    }

    .website-slash {
      cursor: default;
    }

    .website-currency {
      margin-left: 3px;
    }

    .website-language,
    .website-currency,
    .website-slash {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .website-settings-close {
    cursor: pointer;
    background-image: url(../img/icons/burger-close.svg);
    background-size: inherit;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    justify-content: center;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 25px;
    right: 40px;
    z-index: 1;
  }

  .website-settings-heading {
    display: none;
  }

  @media (max-width: 992px) {
    display: flex;
  }
}