.phones-main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  z-index: -1;
  position: relative;
}

.better-trading-small {
  font-weight: 500;
  position: relative;
  font-family: "DM Sans-Medium", sans-serif;
  font-size: 24px;
  line-height: 1.4;
  color: #5B616E;
  margin-bottom: 50px;
  @media (max-width: 1180px) {
    font-size: 22px;
  }
  @media (max-width: 992px) {
    font-size: 20px;
  }
  @media (max-width: 750px) {
    text-align: center;
    margin: 0 auto 50px;
    font-size: 18px;
  }
}

.flex-main-wrapper {
  display: flex;
  @media (max-width: 1140px) {
    flex-direction: column;
  }
  @media (max-width: 750px) {
    flex-direction: column;
    align-items: center;
  }

  .btn-main {
    z-index: 10;
    margin-left: 25px;
    @media (max-width: 1140px) {
      margin-left: 0;
    }
    @media (max-width: 750px) {
      margin-left: 0;
    }
  }
}

.intro {
  &-section {
    z-index: 5;
    position: relative;

    .phone1-main {
      position: relative;
      max-width: 273px;
      width: 100%;
      object-fit: contain;
      margin-bottom: auto;

      @media (max-width: 1520px) {
        max-width: 243px;
      }
      @media (max-width: 1300px) {
        max-width: 210px;
      }
      @media (max-width: 900px) {
        max-width: 180px;
      }
      @media (max-width: 830px) {
        max-width: 150px;
      }
    }

    .phone2-main {
      margin-top: 75px;
      margin-left: 45px;
      z-index: 2;
      max-width: 273px;
      position: relative;

      @media (max-width: 1520px) {
        max-width: 243px;
      }
      @media (max-width: 1300px) {
        max-width: 210px;
      }
      @media (max-width: 1180px) {
        margin-left: 30px;
      }
      @media (max-width: 900px) {
        max-width: 180px;
        margin-left: 15px;
      }
      @media (max-width: 830px) {
        max-width: 150px;
        margin-left: 10px;
      }
    }

    .main-cubic1 {
      z-index: -1;
      position: absolute;
      bottom: 0;
      top: 6%;
      left: -6%;
      @media (max-width: 750px) {
        display: none;
      }
      @media (max-width: 900px) {
        transform: scale(0.8);
        top: 0;
      }
    }

    .main-cubic2 {
      position: absolute;
      z-index: 0;
      right: -3%;
      top: 0;
      @media (max-width: 900px) {
        transform: scale(0.8);
      }
    }

    .main-cubic3 {
      position: absolute;
      bottom: 0;
      z-index: 1;
      left: -6%;
      @media (max-width: 1300px) {
        bottom: -20%;
      }
      @media (max-width: 900px) {
        transform: scale(0.8);
      }
    }

    .h1-heading {
      margin: 0 0 15px;
    }

    .text-big {
      margin: 15px 0 50px;
    }
  }

  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 88px);
    @media (max-width: 992px) {
      height: calc(100vh - 46px);
    }
    @media (max-width: 750px) {
      height: auto;
      padding: 80px 0;
    }
    @media (max-width: 500px) {
      padding: 50px 0;
    }
  }

  &-col {
    position: relative;
    max-width: 50%;
    width: 100%;
    z-index: 10;
    @media (max-width: 1520px) {
      max-width: 55%;
    }
    @media (max-width: 992px) {
      max-width: 45%;
    }
    @media (max-width: 830px) {
      max-width: 45%;
    }
    @media (max-width: 750px) {
      max-width: 100%;
    }
  }
}