.phones-main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.better-trading-small {
  font-weight: 500;
  position: relative;
  font-family: "DM Sans-Medium", sans-serif;
  font-size: 24px;
  line-height: 1.4;
  color: #5B616E;
  margin-bottom: 50px;
}

.flex-main-wrapper {
  display: flex;
}

.intro {
  &-section {
    min-height: 100vh;
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    position: relative;

    .phone1-main {
      position: relative;
      max-width: 273px;
      width: 100%;
      object-fit: contain;
      margin-bottom: auto;

      @media (max-width: 1520px) {
        max-width: 243px;
      }
    }

    .phone2-main {
      margin-top: 75px;
      margin-left: 45px;
      z-index: 2;
      max-width: 273px;
      position: relative;

      @media (max-width: 1520px) {
        max-width: 243px;
      }
    }

    .main-cubic1 {
      position: absolute;
      bottom: 0;
      top: 6%;
      left: -6%;
    }

    .main-cubic2 {
      position: absolute;
      z-index: 0;
      right: -3%;
      top: 0;
    }

    .main-cubic3 {
      position: absolute;
      bottom: 0;
      z-index: 1;
      left: -6%;
    }

    .h1-heading {
      margin: 0 0 15px;
    }

    .text-big {
      margin: 15px 0 50px;
    }
  }

  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 88px);
  }

  &-col {
    max-width: 50%;
    width: 100%;
  }
}