@import "variables";

.portfolio-section {
    padding: 20px 0px;
    margin-bottom: 70px;

    @media (max-width:992px) {
        padding: 50px 0px 0px 0px;
        margin-bottom: 0px;
    }
}

.make-your-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.make-your-portfolio-big-text {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 130%;
    /* identical to box height, or 73px */

    text-align: center;

    /* Title Grey */


}

.make-your-portfolio-small-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 187%;
    text-align: center;
    color: #5B616E;
    margin-top: 13px;
    letter-spacing: 0.2px;
    margin-left: 3px;


}

.make-your-portfolio-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @media (max-width:1136px) {
        flex-direction: column;

        .make-your-portfolio-right {
            order: 0;
            height: auto;
        }

        .make-your-portfolio-left {
            order: 1;
        }
    }
}

.make-your-portfolio-left {

    @media (max-width:1136px) {
        margin-top: 0px;
    }
}

.make-your-portfolio-right {
    position: absolute;
    width: 1145px;
    margin: auto 0;
    height: 688px;
    right: 0;
    left: 470px;
    top: 2px;
    img {
        margin: auto 0;
        height: 100%;
        object-fit: contain;
    }

    @media (max-width:1720px) {
        position: relative;
        width: auto;
        left: 0;
    }
}

.portfolio-svg {
    width: 100px;
}

.portfolio-item {
    display: flex;
    margin-top: -5px;

    svg {
        width: 94px;
        height: 94px;
    }
}

.portfolio-item:nth-child(2) {
    margin-top: 50px;
}
.portfolio-item:nth-child(3) {
    margin-top: 52px;
}
.portfolio-item:nth-child(4) {
    margin-top: 52px;
}
.left-42 {
    margin-left: 42px !important;
}

.left-35 {
    margin-left: 35px !important;

    @media (max-width:1134px) {
        margin-left: 42px !important;
    }
}

.lefter {
    @media(max-width:1134px) {
        margin-left: 42px !important;
    }
}

.portfolio-item-text {
    display: flex;
    flex-direction: column;
    margin-left: 27px;
    margin-top: 4px;
}

.portfolio-item-big-text {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;

    @media (max-width:768px) {
        font-size: 20px;
    }
}

.portfolio-item-small-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    margin-top: 10px;
    color: #5B616E;
    width: 333px;

    @media (max-width:768px) {
        width: 90%;
    }

}

.portfolio-item-small-text:nth-child(2) {
    margin-top: 9px;
}
.portfolio-item-small-text:nth-child(3) {
    margin-top: 9px;
}

.portolio-margin{
    margin-top: -1px;
}