.trades-section {
  padding: 56px 0;
  background: #0F0F0F;
  margin-bottom: 160px;
  position: relative;

  @media (max-width: 992px) {
    margin-bottom: 50px;
  }
}

.trades-flex {
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;

    div {
      margin-bottom: 10px;
    }
  }
}

.trade-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trade-item-big-text {
  font-family: "DM Sans-Bold", sans-serif;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 56px;
  line-height: 73px;
  color: #FFFFFF;
}

.trade-item-small-text {
  font-family: "DM Sans-Medium", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.trade-like-pro-flex {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1420px) {
    flex-direction: column;
  }
}

.trade-like-pro-text {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 130%;
  /* identical to box height, or 73px */

  text-align: center;

  /* Title Grey */

}

.trade-like-pro-section {
  margin-bottom: 160px;

  @media (max-width: 992px) {
    margin-bottom: 50px;
    margin-top: 133px;
  }
}

.trade-like-pro-item-absoulte-flex {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
  position: relative;
  background: #FFFFFF;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.trade-like-pro-main-flex {
  padding-top: 60px;

  @media (max-width: 1420px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.trade-like-pro-left {
  width: 50%;
  margin-top: 1px;

  @media (max-width: 1420px) {
    order: 1;
    width: 100%;
  }

  @media(max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

.trade-like-pro-right {
  position: relative;
  display: flex;
  margin-top: -70px;
  margin-left: -132px;

  @media (max-width: 1420px) {
    order: 0;
    justify-content: center;
    margin-top: 41px;
  }
  @media (max-width: 768px) {
    justify-content: flex-end;
  }

  img {
    background-color: #FFFFFF;

    @media (max-width: 1600px) {
      width: 90%;
      height: 80%;
      background-color: transparent;
    }
    @media (max-width: 1420px) {
      width: 70%;
    }


  }
}

.trade-like-pro-item-big-text-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.8px;
  margin-top: 0px;
  margin-left: 2px;
  @media (max-width: 992px) {
    font-size: 20px;
  }
}

.trade-like-pro-item-big-text-2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.8px;
  margin-top: -3px;
  margin-left: 1px;

  @media (max-width: 992px) {
    font-size: 20px;
  }
}

.trade-like-pro-item-big-text-3 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.8px;
  margin-top: -11px;
  margin-left: 2px;

  @media (max-width: 992px) {
    font-size: 20px;
  }
}

.trade-like-pro-item-small-text-1_1 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin-top: 8px;
  width: 354px;
  color: #5B616E;
  margin-left: 1.5px;
}

.trade-like-pro-item-small-text-2_2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin-top: 8px;
  margin-left: 2px;
  width: 344px;
  /* or 21px */
  color: #5B616E;
}

.trade-like-pro-item-small-text-3_3 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin-top: 8px;
  width: 354px;
  /* or 21px */
  color: #5B616E;
  margin-left: 2px;
}

.trade-like-pro-item {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  margin-bottom: 52px;
  z-index: 3;

  @media (max-width: 1420px) {
    width: 48%;
  }

  @media (max-width: 768px) {
    text-align: center;
    width: 90%;
  }
}

.trade-like-pro-item-absoulte {
  position: absolute;
  width: 33%;
  left: 504px;
  display: flex;
  z-index: 2;
  flex-direction: column;
  margin-top: 3px;

  @media (max-width: 1600px) {
    left: 380px;
  }

  @media (max-width: 1420px) {
    position: relative;
    left: 0px;
    width: 48%;
  }

  @media (max-width: 768px) {
    margin-bottom: 35px;
    width: 90%;
  }
}

.more-pro-traders {
  margin-top: 56px;
}

.more-pro-traders-flex {
  display: flex;

  a {
    text-decoration: none !important;
  }

  @media (max-width: 505px) {
    flex-direction: column;

    div {
      margin-bottom: 16px;
    }
  }
}

.more-pro-traders-item-blue-border {
  transition: 0.7s;
  border: 1px solid #0052FF;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: #0052FF;
  margin-right: 17px;
  padding: 24px 48px;
  margin-top: 4.5px;
  margin-left: 2px;

  &:hover {
    transition: 0.7s;
    color: white;
    background-color: #0052FF;
  }


  @media (max-width: 505px) {
    margin-right: 0px;
  }
}

.mor-pro-traders-item-blue-bg {
  transition: 0.7s;
  background-color: #0052FF;
  border: 1px solid #0052FF;
  border-radius: 4px;
  white-space: nowrap;
  padding: 25px 48px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 0.4px;
  color: white;
  margin-top: 5px;

  &:hover {
    transition: 0.7s;
    color: #0052FF;
    background-color: white;
  }

  @media (max-width: 505px) {
    text-align: center;
  }
}

.hidden {
  display: none;

  @media (max-width: 1420px) {
    display: block;
  }
}