@font-face {
  font-family: DM Sans;
  src: url('../fonts/DMSans-Regular.ttf');
}

@import "variables";

.trade-like-pro-main-flex-h1-heading {
  position: relative;
  display: block;
  font-size: 56px;
  margin-bottom: 72px;
  line-height: 130%;
  text-align: left;
  font-family: "DM Sans-Bold", sans-serif;
  color: #0A0B0D;
  font-weight: 700;

  @media (max-width: 1400px) {
    margin-bottom: 50px;
  }
  @media (max-width: 1200px) {
    font-size: 50px;
  }
  @media (max-width: 1150px) {
    margin-bottom: 40px;
  }
  @media (max-width: 1050px) {
    font-size: 46px;
  }
  @media (max-width: 900px) {
    text-align: center;
    margin-bottom: 20px;
    order: 5;
  }
  @media (max-width: 700px) {
    font-size: 32px;
    margin-bottom: 15px;
    color: #000;
  }
}

.make-your-grow {
  z-index: 5;
  font-family: "DM Sans-Bold", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  color: #0A0B0D;
  margin-bottom: 16px;
  @media (max-width: 1200px) {
    font-size: 50px;
    margin-bottom: 12px;
  }
  @media (max-width: 1050px) {
    font-size: 46px;
    margin-bottom: 10px;
  }
  @media (max-width: 700px) {
    font-size: 32px;
    margin-bottom: 15px;
    color: #000;
  }
}

.wrapper {
  overflow: hidden;
}
.right-side {
  @media (max-width: 1520px) {
    max-width: 45%;
  }
  @media (max-width: 1250px) {
    margin-left: 40px;
  }
  @media (max-width: 992px) {
    max-width: 55%;
  }
  @media (max-width: 830px) {
    max-width: 55%;
  }
  @media (max-width: 750px) {
    display: none;
  }
}
.trade-now-text {
  z-index: 5;
  position: relative;
  max-width: 600px;
  width: 100%;
  font-family: "DM Sans-Medium", sans-serif;
  font-size: 64px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 24px;
  color: #0A0B0D;
  @media (max-width: 1300px) {
    font-size: 54px;
  }
  @media (max-width: 1180px) {
    font-size: 48px;
  }
  @media (max-width: 992px) {
    font-size: 38px;
    margin-bottom: 20px;
  }
  @media (max-width: 750px) {
    max-width: 100%;
    margin: 0 auto 15px;
    text-align: center;
  }
}

.h3-heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  color: #0A0B0D;
  font-family: "DM Sans-Bold", sans-serif;
  margin-bottom: 8px;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.h6-heading {
  margin: 0 0 15px;
  font-size: 16px;
  font-weight: 600;
  color: white;

  @media (max-width: 1200px) {
    margin: 0 0 10px;
  }
}

.text {
  &-big {
    font-size: 24px;

    @media (max-width: 992px) {
      font-size: 16px;
    }
  }

  &-lightgrey {
    color: #5B616E;
  }

  &-darkblue {
    color: $dark-blue-color;
  }
}

.btn {
  padding: 0 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  font-family: "DM Sans-Bold", sans-serif;
  height: 72px;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.01em;
  cursor: pointer;
  transition: .7s;

  &-blue-fill {
    background-color: #0080FF;
    border: 1px solid #0080FF;
    color: white;

    &:hover {
      background-color: white;
      color: $blue-color;
    }
  }

  &-white-fill {
    margin-left: 25px;
    background-color: #fff;
    border: 1px solid #fff;
    color: #0052FF;

    &:hover {
      background-color: #0052FF;
      color: #fff;
    }

    @media (max-width: 780px) {
      width: fit-content;
      margin-left: 0;
      margin-top: 25px;
    }
  }

  &-white {
    padding: 0 40px;
    border: 1px solid #FFFFFF;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.01em;

    &:hover {
      border-color: $blue-color;
      color: $blue-color;
    }
  }

  &-group {
    .btn + .btn {
      margin-left: 25px;
    }
  }
}

.profit-badge {
  font-size: 12px;
  padding: 5px 10px;
  background-color: transparent;
  color: #06BC5A;
  line-height: 16px;

  &.decrease {
    background-color: transparent;
    color: #FF1800;
  }
}